body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  display: flex;
}

.menu {
  width: 200px;
  padding: 20px;
  background: #eee;
}

.red { color: red; }
.green { color: green; }
.yellow { color: goldenrod; }

.conteudo {
  flex: 1;
  padding: 20px;
}

.conteudo span {
  color: blue;
}

.btn {
  background: #2f55d4;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.form {
  margin-top: 20px;
}

.form input, textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

textarea {
  height: 60px;
}

.linha {
  display: flex;
  gap: 10px;
  align-items: end;
}

.resumo {
  width: 250px;
  background: #1f3cff;
  color: white;
  padding: 20px;
}

/* PAINEL LATERAL */
.painel {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background: #ddd;
  transition: 0.3s;
  padding: 20px;
}

.painel.ativo {
  right: 0;
}

.box {
  padding: 15px;
  margin-bottom: 15px;
}

.desconto {
  background: orange;
}

.urgencia {
  background: purple;
  color: white;
}